<?xml version="1.0"?>
<config>
    <modules>
        <Nemo_AddImage>
            <version>1.0.0</version>
        </Nemo_AddImage>
    </modules>
    <global>
        <blocks>
            <nemo_addimage>
                <class>Nemo_AddImage_Block</class>
            </nemo_addimage>
        </blocks>
        <helpers>
            <nemo_addimage>
                <class>Nemo_AddImage_Helper</class>
            </nemo_addimage>
        </helpers>
        <models>
            <nemo_addimage>
                <class>Nemo_AddImage_Model</class>
                <resourceModel>nemo_addimage_resource</resourceModel>
            </nemo_addimage>
            <nemo_addimage_resource>
                <class>Nemo_AddImage_Model_Resource</class>
                <entities>
                    <customerImage>
                        <table>nemo_customer_image</table>
                    </customerImage>
                </entities>
            </nemo_addimage_resource>
        </models>
        <resources>
            <nemo_addimage_setup>
                <setup>
                    <module>Nemo_AddImage</module>
                </setup>
            </nemo_addimage_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <nemo_addimage>
                <use>standard</use>
                <args>
                    <frontName>addimage</frontName>
                    <module>Nemo_AddImage</module>
                </args>
            </nemo_addimage>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <nemo>
                    <file>add_image_tab.xml</file>
                </nemo>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <nemo_addimage_save_product_data>
                        <type>singleton</type>
                        <class>nemo_addimage/observer</class>
                        <method>saveProductTabData</method>
                    </nemo_addimage_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>Nemo</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
